body{

}
.marcador{
	width: 80%;
	margin:auto;
	padding: 0;
	background:#FCFCFC ;
	-webkit-box-shadow: 2px 8px 49px 5px rgba(189,189,189,1);
-moz-box-shadow: 2px 8px 49px 5px rgba(189,189,189,1);
box-shadow: 2px 8px 49px 5px rgba(189,189,189,1);
}
section{
	padding-top:50px ;
	padding-bottom: 50px;
}
header{
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;	
	z-index: 100;
}
.menu_nav,.menu_port,.grid{
	display: flex;
	justify-content: center;
	align-items: center;
}
b{
	
	color: #ABABAB;
}
.heading_wrapper{
	float: block;
	margin: auto;
	padding: 30px 40px 20px;
}
.sub_titles{
	background: transparent ;
	
		
}

.content_exp{
	background: #d9534f;
	width: 100%;
	height: auto;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}
.mark{
	width: 50px;
	height: 50px;
	background: #1764C4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon{
	float: left;
	display: inline-block;
	line-height: inherit;
	font-size: 30px;
}
.right_area{
	margin-left: 45px;
}
.img_port{

	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	width: 20px;
    height: 20px;
    border-radius: 50%;
     background: #D53584;
    transition: 1s ease;
	float: left;
}
.barL{
	background: #D53584;
	width: 200px;
	height: 10px;
	border-radius: 30px;
	transition: 1s ease;
}
#projects{
	color: white;
   border-radius: 50%;
     background: #5cb85c;


}
#codes{
	color: white;
    border-radius: 50%;
     background: #695CB8;
}
#desings{
	color: white;
}
.subtitle_port{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.img_port:hover {
  width: 30px;
height: 30px;
transition: 0.2s ease;

}


.nav_porf{
	display: flex;
	justify-content: center;		
	align-items: center;
}
.info_me{
	font-size: 20px;
	position: relative;
	top:10px
}
.box {
	float: left;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 50px;
	position: relative;
	width: 110px;
	height: 110px;
}
.text_porcent{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fondo{

	position: relative;
	border-radius:5px;
	padding: 20px 40px 20px;
	background: #d9534f;
	color:white;
	margin:auto;
	opacity: 1;
	width: 80%;
	height: auto;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
.intro-section {
    
    padding-top: 400px !important;
   
}
.info_me li{
	font-size: 16px;
}
.contprofile {
    
    width: 650px !important;
   
}
}

@media only screen and (max-width: 480px){

section{

	padding-top:0px ;
	padding-bottom: 0px;
	margin-bottom: 50px;
}
#appear_image{
	
	width: 80% !important;
	height: auto;

}
.fondo{
	width: 100%;
	font-size: 16px;
}
.subtitle_port{
	text-align: center;
}
.marcador{
	width: 100%;
	margin:auto;
	padding: 0;
	background:#FCFCFC ;

}
.box {
    
    margin-right: 0;
     margin-left: 0; 
   
}
.portafolio_section{
	margin-top: 200px;
}
.row{
	margin-right:0px !important;
	margin-left: 0px !important;
}


.intro_section_profile{
		margin-top: 100px;
	}
.contprofile,.intro-section{
		width:100% !important;
		
	}
.flex-column {
    max-width:100% !important;
}
.container {

    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.content_me,.boxins{
	position: relative;
	justify-content: center;
	align-items: center;
 
 	}
 div.button {

  border-radius: 0px!important;
  

	
}

div.button_scroll {
  background-color: #FFFF79;
  position: relative;
 
  width: 100% !important;
  border-radius: 0px !important;

  transition: 1s ease;

}
 	.icon_port{
 		font-size: 35px !important;
 	}
 	.menu_nav{

 		margin:auto;

 		font-size: 5px;
 		color: white ;
 	
 		padding-bottom: 0px;


 	}

 .nav_port{
 	margin-top: 10px;
 	margin-left: 20px;
 	margin-right: 0px;
 }
 .img_port{
 	margin-top: 50px;
 	
 }
.section_portafolio{
	margin: 0px;
    padding-bottom: 0px;
}
.contprofile{
	padding-bottom:100px;
	margin:0px;
}
.icon_social{
	font-size: 50px !important;
	margin-left:20px;
	margin-right:20px;
	padding-top: 50px;
}
.word_exp,.title_exp{
	display: block !important; 

}

}

h5{
	font-size: 1em;
	line-height: 1.5;
	font-weight: inherit;
}
.photo_profile{
	width: 112%;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
.intro-section{
	background-image: url(imgcv/coding-1853305_1920.jpg);
	
	padding-top: 300px;
	position: relative;
	background-size: cover;
	z-index: 1;
	padding-bottom: 0px;
}
.contact{
	background:gray;
	width: 90%;
	height: 100px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	position: relative;
	box-sizing: border-box;
}
.photoprofile{
	opacity: 1;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: gray;
	margin:0 auto;
	overflow: hidden;
	position: relative;
	top: -100px;
	margin-bottom: -70px;
}

.menu_list{
	display: block;
	float: left;
	margin-right: 1rem;
}
.my_name{
	position: relative;
	
}
.contprofile{
	background: #FCFCFC;
	opacity: 1;
	width: 650px;	
	height: 250px;
	display: block;
	margin: auto;
	position: relative;
}
.skills,.contprofile,.contact{
	text-align: center;
}
.skills{
	display: block;
	position: relative;
	margin-bottom: 50px;
}
.cont_exp{
	width: 100%;
	margin: auto;	
}
li {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
}
h2{
	width: 100%;
	margin: 0px;
	padding: 0px;
}














div.button {

  background-color: #FFFF79;
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: relative;
  left: 0px;
  transition: 1s ease;

	display: flex;
	justify-content: center;
	align-items: center;
}

div.button_scroll {
  background-color: #FFFF79;
  position: relative;
  left: 0px;
  width: 30%;
  border-radius: 30px;
  box-shadow: 0px 5px 0px #FFFF79;
  transition: 1s ease;
  display: flex;
	justify-content: center;
	align-items: center;
}

div.button:active {
  background-color: yellow;
  transition: 0s;
  color: #fff;
}





.button_skills {

  background-color: #FF306A;
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 10px;
  height: 10px;
  transition: 2s ease;

	
}


.button_skills_s {
  background-color: #FF306A;
 border-radius: 30px;
  width: 300px;
height: 10px;
transition: 2s ease;
 
 
}


        
        .flex-column {
            max-width: 25%;
        }
        
        .flex-column img{
				
            margin:6px;
        }
        
        .scale {
            transform: scaleY(1.05);
            padding-top: 5px; 
        }
  
.container-fluid {
	
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;

}
#appear_image_div{
	background: black;
	z-index: 10;
	opacity: 0.8;
	width: 100%;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 2s ease;
}
#appear_image{
	background: blue;
	display: block;
	margin: auto;
	position: fixed;
	width: 30%;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	transition: 2s ease;
}
.card-img-top,.card-img{
	display: block;
	width: 100%;
	height: 180px;
	background: gray;
}



.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

